//Bootstarp alert
.alert{
  margin-bottom: 0;
  border-radius: 0;
}
//container-fluid
.container-fluid{
  padding: 0;
}
//a
a, a:hover, a:focus {
  text-decoration: none;
  transition: all 0.3s;
}
//btn dont have border radius
.btn{
  border-radius: 0;
}

.form-control{
  border-radius: 0;
}

//Wrapper
.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 90vh;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}

//navigation top
.navbar-nav > li{
  line-height:75px;
}
.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav > li:hover {
  background: #f6f8fa;
}

.navbar-nav > li:hover .fa {
  color : #3e404f;
}

.navbar-nav > li:hover a {
  color : #3e404f !important;
}

//Drop down language
.dropdown-menu >li:hover {
  background: #3e404f;
}
.dropdown-menu >li:hover a{
  color: #f6f8fa !important;
}

.dropdown-menu{
  text-align: center;
  min-width:75px;
  margin:0;
  padding:0;
  border-radius:0;
}

.dropdown-menu > li{
  line-height:30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}