//Rotate nav-left bar icon
.rotate{
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 500ms linear;
}

.rotate.down{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

//default
.no-m-p {
  margin: 0;
  padding: 0;
}
.no-m {
  margin: 0;
}
.no-p {
  padding: 0;
}