//Rotate nav-left bar icon
.rotate{
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 500ms linear;
}

.rotate.down{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

//Wrapper
.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}